# Khóa bí mật ký session/cookie (Nên đổi thành chuỗi ngẫu nhiên dài trên Production)
SECRET_KEY=lta-print-super-secret-key-2026

# Thông tin đăng nhập Admin quản trị hệ thống
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Lta@19000271#

# Đường dẫn file log CUPS (Trên Linux mặc định là /var/log/cups/page_log)
CUPS_LOG_PATH=/var/log/cups/page_log
